---
import Base from './Base.astro';

import type { CollectionEntry } from 'astro:content';
type Props = CollectionEntry<'blog'>['data'];
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_TITLE, SITE_DESCRIPTION, DEFAULT_AUTHOR } from '../consts';

const { useHeroOverlay = false, author = DEFAULT_AUTHOR, title, description, pubDate, updatedDate, heroImage, tags, category } = Astro.props.frontmatter || Astro.props;
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION} type="article" category={category} tags={tags}>
    <div class="flex items-start space-x-12">
        <article>
            <div>
                <span class="sd-news-category">{category}</span>
                <h1>{title}</h1>
                <span><b>By {author}</b> - {SITE_TITLE} - <FormattedDate date={pubDate} /></span>
                <slot />
        
                <!-- when any floated images are used in a post, this makes them contribute to the page height -->
                <div class="clear-both" />
            </div>
        </article>
        <aside class="w-1/3">
        </aside>
    </div>
</Base>