---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Icon } from 'astro-icon/components';
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const { useHeroOverlay = false, title = SITE_TITLE, description = SITE_DESCRIPTION, type, pubDate, lead, leadTitle, ritchie, heroImage, updatedDate, category, tags } = Astro.props.frontmatter || Astro.props;

const pageTitle = leadTitle ? `${leadTitle} &bull; ${title}` : title;
const pageDescription = lead || description;

const pageTags = tags ? tags.split(',').map((tag) => tag.trim()) : [];
---

<html lang="en">
<head>
    <BaseHead title={pageTitle} description={pageDescription} image={heroImage} type={type} category={category} tags={pageTags} date={pubDate} modified={updatedDate} />
</head>

<body>
<Header />
<main class="p-12 container mx-auto">
    <slot />
</main>
<Footer />

<script is:inline src="/js/flowbite.min.js"></script>
</body>
</html>
